<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
                            <!-- 20:04:04.173 [main] INFO  fr.epita.iam.tests.TestLog4J2Integration - test -->
      <PatternLayout pattern="%d{ISO8601} [%t] %-5level %logger{36}->%M():%L - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <!-- level attributes represents the threshold for the root logger -->
    <Root level="info">
      <AppenderRef ref="Console"/>
    </Root>
    <Logger level="debug" name="fr.epita.IamViquarCore" additivity="false">
        <AppenderRef ref="Console" />
    </Logger>
  </Loggers>
</Configuration>